<ul>
  <%= form_for @movie do |f| %>
    <li>
      <% f.object.errors.full_messages.each do |error| %>
        <div class="errors">
          <%= error %>
        </div>
      <% end %>
      <br>
    </li>
    <li>
      <%= f.label :name %>
    </li>
    <li>
      <%= f.text_field :name, class: "name" %>
    </li>
    <li>
      <%= f.label :year %>
    </li>
    <li>
      <%= f.text_field :year, class: "year" %>
    </li>
    <li>
      <%= f.label :synopsis %>
    </li>
    <li>
      <%= f.text_area :synopsis, rows: "4" %>
    </li>
    <li>
      <%= f.submit "Create Movie" %>
    </li>
  <% end %>
</ul>